.button {
    // width: 108px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid $light-green;
    border-radius: 2px;
    background-color: transparent;
    color: #fff;
    padding: 9px 15px;
    transition: background-color 0.3s ease-in, transform 0.25s ease-out;

    &:hover {
        background-color: $light-green;
        transform: scale(0.95);
        cursor: pointer;
    }
}