.card {
    position: relative;
    display: flex;
    column-gap: 32px;
    counter-reset: explanation-counter;

    &__img {
        position: relative;
        min-width: 195px;
        min-height: 150px;
        counter-increment: explanation-counter;
        margin-top: 12px;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -12px;
            left: 12px;
            width: 195px;
            height: 130px;
            border: 2px solid $light-green;
        }

        &::after {
            content: counter(explanation-counter);
            position: absolute;
            left: -8px;
            top: 109px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 28px;
            font-weight: 700;
            color: $light-green;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff;
        }

        @for $i from 2 through 4 {
            &--#{$i} {
                &::after {
                    content: '#{$i}';
                }
            }
        }

        

        @media (max-width: $brekpoint_1) {
            // margin: 0 auto;
            margin-right: auto;
            margin-left: 20px;
        }

        @media (max-width: 420px) {
            // margin: 0 auto;
            margin-right: auto;
            margin-left: auto;
        }
    }

    &__text {
        width: 55%;
        margin-top: 10px;

        @media (max-width: $brekpoint_1) {
            width: 100%
        }
    }

    &__title {
        width: min-content;
    }

    @media (max-width: $brekpoint_1) {
        flex-direction: column;
    }

    @media (max-width: $brekpoint_2) {
        min-width: 100%;
    }
}