.slider {
    position: relative;
    overflow: hidden;

    &__box {
        position: relative;
        display: flex;
        // flex-wrap: nowrap;
        // max-width: 560px;
        box-sizing: content-box;
        // scroll-snap-type: x mandatory; //под вопросом
    }

    &__item {
        position: relative;
        // scroll-snap-align: start; //под вопросом

        img {
            pointer-events: none;
        }
    }

    &__item-title {
        font-size: 21px;
        line-height: 24.5px;
        font-weight: 700;
        padding: 0;
        margin: 0 0 10px 0;
    }

    &__item-description {
        padding: 0;
        margin: 0;
    }

    &__buttons {
        margin-left: auto;
        font-size: 0;
    }

    &__button {
        position: relative;
        width: 60px;
        height: 48px;
        border: none;
        background-color: #1C1C1C;

        &::before {
            content: '';
            position: absolute;
            width: 9px;
            height: 16px;
            background: url('../img/arrow.svg') no-repeat;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &--next {
            &::before {
                background: url('../img/arrow-next.svg');
            }
        }

        &:hover {
            opacity: 0.85;
        }
    }
}

.disabled {
    // display: block;
    pointer-events: none;
    opacity: 0.5;
}