.title-h1 {
    font-size: 96px;
    // line-height: 110px;
    line-height: 1.4em;
    font-weight: 400;
    color: #fff;
    // text-shadow: 0 0 10px black;
    letter-spacing: 0.2px;
    padding: 0;
    margin: 0;

    @media (max-width: $brekpoint_1) {
        font-size: 86px;
    }

    @media (max-width: $brekpoint_2) {
        font-size: 36px;
    }
}

.title-h2 {
    font-size: 44px;
    font-weight: 500;
    line-height: 51px;
    color: #fff;
    margin: 0;
    padding: 0;
    // background-color: rgba(23, 20, 187, 0.3); // TMP VALUE

    @media (max-width: $brekpoint_2) {
        font-size: 28px;
        line-height: 32px;
    }
}