.title-h1 {
    font-size: 96px;
    line-height: 110px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 0 10px black;
    letter-spacing: 0.2px;
    padding: 0;
    margin: 0;
}

.title-h2 {
    font-size: 44px;
    font-weight: 500;
    line-height: 51px;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: rgba(23, 20, 187, 0.3); // TMP VALUE
}