<footer class="footer">
  <!-- <div class="container"> -->
    <div class="footer__container">
      {% if link_page == 'Main' %}

      <div class="footer__social">
        <a href="#" class="footer__social-icon footer__social-icon--fb">
          <svg width="32" height="32">
            <use xlink:href="#icon-fb"></use>
          </svg>
          <span class="visually-hidden">Facebook</span>
        </a>

        <a href="#" class="footer__social-icon footer__social-icon--vk">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#icon-vk"></use>
          </svg>
          <span class="visually-hidden">Vkontakte</span>
        </a>
      </div>

      <div class="footer__scroll">
        <a href="#">
          <span>Скролл вниз</span></a>
      </div>

      {% else %}
      <div class="{{'footer__scroll' if link_page == 'Main' else 'footer__scroll footer__scroll--no-main'}}">
        <a href="#" aria-label="Скролл вниз"></a>
      </div>
      {% endif %}
    </div>
  <!-- </div> -->
</footer>