<nav class="header__navigation navigation navigation--mobile-bg-of">

    <button type="button" class="navigation__button-menu navigation__button-menu--mobile"><span>Меню</span></button>

    <ul class="navigation__list">
        <li class="navigation__item navigation__item--intro">
            <a class="header__link" href="product.html">О продукте</a>
        </li>
        <li class="navigation__item">
            <a class="header__link" href="explanation.html">Как работает</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="technology.html">Технология</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="questions.html">Вопросы</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="contacts.html">Контакты</a>
        </li>
    </ul>
</nav>