body {
    font-family: "Ubuntu", "Arial", sans-serif;
    font-size: 15px;
    color: #fff;
    overflow: auto;
    overflow-x: hidden;
    // min-height: 570px;
    min-height: 100vh;
}

/* Стиль применяется после того как нажата кнопка бургера меню */
.body--active {
    height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    transition: all 0.35s;

    &:hover {
        color: $light-green;
    }
}

.container {
    max-width: 1238px;
    margin: 0 auto;
    padding-left: $container-padding-left;
    padding-right: 44px;
    // padding: 0 20px 0 55px;

    @media (max-width: $brekpoint_2) {
        padding: 0 15px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


