.header {
  // margin-bottom: 153px;
  
  &__container {
    background-color: rgba(238, 169, 66, 0.6); //TEMP VALUE
    display: flex;
    justify-content: space-between;
    max-width: 1238px;
    margin: 0 auto;
    margin-top: 43px;
  }

  &__logo {
    display: flex;
  }

  &__link {
    display: inline-block;
  }

  &__order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    background-color: rgba(121, 26, 26, 0.6); //TEMP VALUE

  }

  &__contacts-mobile {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: rgba(121, 26, 26, 0.6); //TEMP VALUE

  &__link-text {
    font-size: 18px;
    text-transform: uppercase;
  }
}