.header {

    &__container {
        display: flex;
        justify-content: space-between;
        max-width: 1278px;
        padding: 0 20px;
        margin: 0 auto;
        margin-top: 43px;

        @media (max-width: $brekpoint_1) {
            margin-top: 22px;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        column-gap: 15px;
        font-size: 18px;
        text-transform: uppercase;
        z-index: 2;
        
        path {
            transition: all 0.35s ease;
        }

        &:hover {
            path {
                fill: $dark-green;
            }
        }

        @media (max-width: $brekpoint_1) {
            span {
                display: none;
            }
        }
    }

    &__navigation {

        @media (max-width: $brekpoint_1) {
            order: 1;
        }
    }

    &__link {
        display: inline-block;
    }

    &__order {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        font-size: 16px;
        z-index: 1;

        a {

            @media (max-width: $brekpoint_1) {
                display: none;
            }
        }

    }

    &__contacts-mobile {
        // display: ;
        position: absolute;
        top: 470px;
        left: -1000px;
        font-size: 16px;
        transition: left 0.55s cubic-bezier(.44,2.5,.7,.26) 0.35s;
        opacity: 0;
        z-index: 1;

        &--active {
            display: block;
            position: absolute;
            left: 20px;
            opacity: 1;
        }
    }

    &__social {
        display: flex;
    }

    &--mobile {

    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;

    &__link-text {
        font-size: 18px;
        text-transform: uppercase;

        @media (max-width: $brekpoint_1) {
            display: none;
        }
    }
}