.navigation {
    margin: auto 0;
    width: 51%;

    &__button-menu {
        display: none;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;  

        @media (max-width: 1183px) {
            row-gap: 10px;
        }
    }

    &__item {
        a {
            text-transform: uppercase;
            text-decoration: none;
        }
    }

    &__item:has(~ .navigation__item) {
        position: relative;
        margin-right: $gap-navitaion-item;

        &::after {
            content: '';
            width: 6px;
            height: 6px;
            background-color: #B0ACAC;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: -22px;
            transform: translateY(-50%);

        }
        @media (max-width: 1118px) {
            &::after {
                // display: none;
            }
        }
    }
}