.product {

    &__container {
        margin-top: 76px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width: $brekpoint_1) {
            flex-direction: column;
        }
    }

    &__description {
        font-size: 17px;
        line-height: 1.5em;
        font-weight: 300;
        color: #fff;
        max-width: 41%;
        margin-top: 57px;
        padding-left: 30px;

        @media (max-width: $brekpoint_1) {
            max-width: 440px;
        }

        @media (max-width: $brekpoint_2) {
            padding-left: 0;
        }
    }

    &__slider {
        position: relative;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top: 130px;
        max-width: 48%;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -15px;
            right: -20px;
            width: 100%;
            height: 80%;
            border: 4px solid $light-green;
        }

        @media (max-width: $brekpoint_1) {
            margin-top: 50px;
            max-width: min-content;
        }

        @media (max-width: $brekpoint_2) {
            max-width: 280px;
            align-self: start;
            margin-top: 50px;

            &::before {
                display: none;
            }
        }
    }

    &__slider-title {
        position: absolute;
        bottom: 50px;
        left: -28%;
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        width: 200px;
        padding: 0;
        text-align: right;
        color: #fff;
        z-index: 0;

        @media (max-width: $brekpoint_1) {
            left: -15%;
        }

        @media (max-width: $brekpoint_2) {
            position: static;
            font-size: 18px;
            line-height: 21px;
            text-align: left;
            width: auto;
        }
    }

    &__box {
        overflow: hidden;

        @media (max-width: $brekpoint_2) {
            height: 180px;
        }
    }
}