.product {

    &__container {
        padding: 0 27px;
        margin-top: 76px;
        background-color: rgba(243, 72, 72, 0.3); // TMP VALUE
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin: 57px 29px 0 29px;
        background-color: rgba(49, 110, 14, 0.3); // TMP VALUE
    }

    &__description {
        font-size: 17px;
        line-height: 1.5em;
        font-weight: 300;
        color: #fff;
        max-width: 450px;
    }

    &__slider {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 130px;
    }

    &__slider-title {
        position: absolute;
        bottom: 50px;
        left: 0;
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        width: 200px;
        padding: 0;
        transform: translateX(-85%);
        text-align: right;
        color: #fff;
        z-index: 2;
    }

    &__box {
        position: relative;
        height: 300px;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -15px;
            right: -20px;
            width: 100%;
            height: 280px;
            border: 4px solid $light-green;
        }
    }
}