.technology {
    position: relative;
    margin: 5% auto 5px;

    &__title {
        margin-bottom: 79px;
    }

    &__image-main {
        position: absolute;
        padding: 0;
        margin: 0;
        top: 120px;
        left: 48%;
        width: 408px;
        height: 408px;
        transform: translateX(-50%);
        background: #fff;
        border-radius: 50%;

        &::before {
            content: '';
            position: absolute;
            top: -36px;
            left: -36px;
            width: 480px;
            height: 480px;
            border-radius: 50%;
            border: 1px solid rgba(255,255,255, 0.3);
        }

        img {
            position: absolute;
            top: 105px;
            left: 12px;
        }

        @media (max-width: $brekpoint_1) {
            display: none;
        }
    }

    &__image-button {
        position: absolute;
        bottom: 10px;
        right: 20px;
        width: 85px;
        height: 85px;
        border: none;
        border-radius: 50%;
        background-color: $dark-green;
        background-image: url('../img/plus.svg');
        background-position: center center;
        background-repeat: no-repeat;
    }

    &__slider {
        @media (max-width: $brekpoint_1) {
            width: 408px;
            margin: 0 auto;
        }

        @media (max-width: $brekpoint_2) {
            width: 290px
        }
    }

    &__slider-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 60px;
        width: 100%;
        // max-height: 580px;
        line-height: 19px;
        color: #fff;
        padding-left: 30px;

        @media (max-width: $brekpoint_1) {
            flex-wrap: nowrap;
            padding: 0;
        }
    }

    &__item {
        width: clamp(200px, 34%, 408px);

        &--1 {
            padding-right: 10%;

            &::before {
                content: '';
                position: absolute;
                top: 10px;
                left: 53%;
                width: 46%;
                height: 114px;
                background: url('../img/pointer 1.svg') no-repeat;
            }
        }

        &--2 {
            padding-left: 7%;
            padding-right: 3.5%;

            &::before {
                content: '';
                position: absolute;
                top: 10px;
                left: -44%;
                // left: 53%;
                width: 61%;
                height: 101px;
                background: url('../img/pointer 2.svg') no-repeat;
            }
        }

        &--3 {
            padding-right: 10%;

            &::before {
                content: '';
                position: absolute;
                top: -45%;
                left: 40%;
                // left: 53%;
                width: 104%;
                height: 82px;
                background: url('../img/pointer 3.svg') no-repeat;
            }
        }

        &--4 {
            padding-left: 7%;
            padding-right: 3.5%;

            &::before {
                content: '';
                position: absolute;
                top: -50%;
                left: -13%;
                // left: 53%;
                width: 31%;
                height: 90px;
                background: url('../img/pointer 4.svg') no-repeat;
            }
        }

        @media (max-width: $brekpoint_1) {
            padding: 0;
            // margin-right: 30px;
            width: 100%;

            &::before {
                display: none;
            }
        }
    }

    &__item-image-container {
        display: none;
        position: relative;
        width: 408px;
        height: 408px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 0 20px 0;
        padding: 0;

        img {
            position: absolute;
            top: 105px;
            left: 12px;
        }

        @media (max-width: $brekpoint_1) {
            display: block;
        }

        @media (max-width: $brekpoint_2) {
            width: 290px;
            height: 290px;

            img {
                top: 75px;
                left: 9px;
                width: 288px;
                height: 152px;
            }
        }
    }

    &__buttons {
        display: none;
    }
}