.page {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 100vh;
}

.background {
    background: #000 url('../img/bg_hero.png') no-repeat;
    background-size: cover;

    &--other {
        background-image: url('../img/bg_other.png');
    }
}