{% set title = 'Как это работает' %}
{% set link_page = 'Explanation' %}

{% extends 'html/layouts/default.html' %}


{% block main %}
<section class="explanation">
  <div class="container">

    <h2 class="explanation__title title-h2">Как это работает?</h2>

    <!-- <div class="explanation__wrapper"> -->
      <div class="explanation__slider slider">

        <ul class="slider__wrapper explanation__list">

          <li class="slider__item explanation__item card">
            <!-- <svg class="svg_1" style="position: absolute; z-index:2; top: -100">
              <g>
                <path 
                  d="M 20 60 Q 45 10 85 90" 
                  fill="transparent"
                  stroke="rgba(255, 0, 0, 0.9)"
                  stroke-width="3"></path>
              </g>
            </svg> -->
            <div class="card__img card__img--1">
              <img src="img/how_work_1.png" alt="Картинка 1" >
            </div>
            <div class="card__text explanation__info">
              <h3 class="slider__item-title card__title">Готовим инвентарь</h3>
              <p class="slider__item-description card__description">Наши специалисты готовят каждые
                VR-очки к использованию, обрабатывая устройства специальным средством для ухода после каждого сеанса.</p>
            </div>
          </li>

          <li class="slider__item explanation__item card">
            <div class="card__img card__img--2">
              <img src="img/how_work_2.png" alt="Картинка 2">
            </div>
            <div class="card__text explanation__info">
              <h3 class="slider__item-title card__title">Выбираем фильм</h3>
              <p class="slider__item-description card__description">В нашем архиве есть образовательные фильмы по теме космоса, астрологиии
                обществознания. Мы работаем с самымкрупным производителем мультимедиа продуктов в РФ.</p>
            </div>
          </li>

          <li class="slider__item explanation__item card">
            <div class="card__img card__img--3">
              <img src="img/how_work_3.png" alt="Картинка 3">
            </div>
            <div class="card__text explanation__info">
              <h3 class="slider__item-title card__title">Надеваем VR-очки</h3>
              <p class="slider__item-description card__description">Ученики получают VR-очки, наш техникпомогает им разобраться как
                правильнонадеть
                очки и закрепить их на голове.
                Для ребят со зрением, отличным от 100%, техник настраивает диоптрии.</p>
            </div>
          </li>
          
          <li class="slider__item explanation__item card">
            <div class="card__img card__img--4">
              <img src="img/how_work_4.png" alt="Картинка 4">
            </div>
            <div class="card__text explanation__info">
              <h3 class="slider__item-title card__title">Исследуем галактики!</h3>
              <p class="slider__item-description card__description">Ребята окунаются в виртуальные миры
                и с удовольтсием изучают всё вокруг.
                После показа остаются яркие эмоции
                и запоминаются важные моменты о планетах, звёздах и галактике.</p>
              </div>
          </li>
        </ul>

        <div class="explanation__controls slider__controls">
          <div class="slider__pagination">
              <span class="slider__pagination-current">1</span>
              /
              <span class="slider__pagination-total"></span>
          </div>
          <div class="slider__buttons">
              <button class="slider__button slider__button--prev">Назад</button>
              <button class="slider__button slider__button--next">Вперед</button>
          </div>
      </div>
      </div>
    <!-- </div> -->
  </div>
</section>
{% endblock %}