{% set title = 'Digital Planet VR' %}
{% set link_page = 'Product' %}

{% extends "html/layouts/default.html" %}


{% block main %}
<section class="product">
    <div class="container">
        <div class="product__container">

            <h2 class="product__title title-h2">Что такое VR-планетарий?</h2>

            <div class="product__wrapper">
                <p class="product__description">Это образовательная программа, использующая технологию виртуальной
                    реальности.<br><br>
                    Зрителям выдаются очки виртуальной реальности, оператор запускает сеанс планетария на всех очках
                    одновременно. В
                    коллекции фильмов идут обучающие картины о космосе, астрономии и обществознании.<br><br>
                    За счёт реалистичности и имитации игры такое обучение повышает мотивацию и стимулирует активную
                    мозговую
                    деятельность ребёнка.
                </p>

                <div class="product__slider">
                    <p class="slider__title product__slider-title">Что показываем в планетарии</p>
                    
                    <div class="slider">
                        <ul class="slider__box product__box">
                            <li class="slider__item product__item">
                                <img class="product__slide-img" src="img/2_slider.png" alt="Фото в слайдере">
                            </li>
                            <li class="slider__item product__item">
                                <img class="product__slide-img" src="img/2_slider.png" alt="Фото в слайдере">
                            </li>
                        </ul>
    
                        <div class="slider__buttons">
                            <button class="slider__button slider__button--prev">Назад</button>
                            <button class="slider__button slider__button--next">Вперед</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}